@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No tienes permisos para acceder aqui.</h2>

<p>
    <strong>Puede que tu sesión haya expirado o que tu cuenta este desactivada</strong>

