@model AlexaSoft_ASP.NET.Models.Compra

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <select asp-for="IdProveedor" class ="form-control" asp-items="ViewBag.IdProveedor"></select>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoAnular" class="control-label"></label>
                <input asp-for="MotivoAnular" class="form-control" />
                <span asp-validation-for="MotivoAnular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="idDetalles" class="control-label">idDetalles</label>
                <input id="idDetalles" name="idDetalles" class="form-control" />
            </div>
            <div class="form-group">
                <label id="IdProductos" class="control-label"></label>
                <select id="idProducto" name="idProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
            </div>
            <div class="form-group">
                <label id="Unidades" class="control-label">Unidades</label>
                <input id="Unidades" name="Unidades" class="form-control" />
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                <input type="submit" value="Create" class="btn btn-primary" />  
            </div>
            

        </form>
    </div>
</div>




