@model AlexaSoft_ASP.NET.Models.Compra

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Editar Compra</h1>
        </div>
        <div class="col-3">
        </div>
    </div> <!--Fin Row-->
</div>
<hr />

<div class="container bordeVino px-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCompra" />
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoAnular" class="control-label"></label>
                <input asp-for="MotivoAnular" class="form-control" />
                <span asp-validation-for="MotivoAnular" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-3 row">
                <div class="text-center">
                    <input type="submit" value="Guardar" class="btn btn-lg fondoVino text-light">
                </div>
            </div>
        </form>
    </div>

<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>