@model AlexaSoft_ASP.NET.Models.CategoriaProducto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center">Categoria Productos</h1>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<h3>Estas seguro de Eliminar este registro?</h3>

<div class="container bordeVino px-4">
    <h4>CategoriaProducto</h4>

<hr /> 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoriaProducto" />
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a> |
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
