@model AlexaSoft_ASP.NET.Models.Paquete

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Crear Paquete</h1>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
<hr />
<div class="container bordeVino px-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <input asp-for="Estado" type="hidden" value="Activo" /> 
            </div>
            <hr/>
           <table>
               <tr>
                   <td>Servicio</td>
                   <td>Agregar al paquete</td>
               </tr>
                @if (ViewBag.servicios != null && ViewBag.servicios.Count > 0)
                {
                    foreach (var item in ViewBag.servicios)
                    {
                        <tr>
                            <td scope="col" style="width: 10%;">@item.Nombre</td>
                            <td scope="col" style="width: 10%;" class="text-center">
                                <div class="form-check form-switch d-inline-block">
                                    <input class="form-check-input" type="checkbox" name="servicios" id="checkbox-@item.IdServicio" value="@item.IdServicio" id="flexSwitchCheckDefault">
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-center">No hay servicios disponibles.</td>
                    </tr>
                }

           </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-lg fondoVino text-light" />
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>
