@model AlexaSoft_ASP.NET.Models.Paquete

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Editar Paquete</h1>
        </div>
        <div class="col-3">
        </div>
    </div> <!--Fin Row-->
</div>
<br>
<br>
<div class="container bordeVino px-4">
    <br>
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <input asp-for="Estado" type="hidden" value="Activo" />
                <input type="hidden" asp-for="IdPaquete">
            </div>
            <table>
                <tr>
                    <td>Servicio</td>
                    <td>Agregar al paquete</td>
                </tr>
                @foreach (var item in ViewBag.servicios)
                {
                    <tr>
                        <td scope="col" style="width: 10%;">@item.Nombre</td>


                        <td scope="col" style="width: 10%;" class="text-center">

                            <div class="form-check form-switch d-inline-block">
                                @{
                                    bool isChecked = Model.PaquetesServicios.Any(rp => rp.IdServicioNavigation.IdServicio == item.IdServicio);
                                }
                                <input class="form-check-input" type="checkbox" name="servicios" id="checkbox-@item.IdServicio" value="@item.IdServicio" @(isChecked ? "checked" : "")>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        <br />
        <div class="mb-3 row">
            <div class="text-center">
                <input type="submit" value="Editar" class="btn btn-lg fondoVino text-light">
            </div>
        </div>
    </form>
    <br>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>
