@model AlexaSoft_ASP.NET.Models.Pedido

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Crear Pedido</h1>
        </div>
        <div class="col-3">
        </div>
    </div> <!--Fin Row-->
</div>
<br>
<br>
<div class="container bordeVino px-4">
    <br>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdColaborador" class="control-label"></label>
                <select asp-for="IdColaborador" class ="form-control" asp-items="ViewBag.IdColaborador"></select>
            </div>
            <br />
            <div class="mb-3 row">
                <div class="text-center">
                    <button type="button" id="botonCrear" class="btn btn-lg fondoVino text-light">
                        Crear
                        Pedido
                    </button>
                </div>
            </div><!--Fin Row-->
    </form>
    <br>
</div>

<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
