@model AlexaSoft_ASP.NET.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Crear Colaborador</h1>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
<hr />

<div class="container bordeVino px-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Fecha" class="control-label"></label>
            <input asp-for="Fecha" class="form-control" type="date" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hora" class="control-label"></label>
            <input asp-for="Hora" class="form-control" type="time" />
            <span asp-validation-for="Hora" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Detalle" class="control-label"></label>
            <input asp-for="Detalle" class="form-control" />
            <span asp-validation-for="Detalle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control" readonly value="Activo" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdMotivoCancelacion" class="control-label"></label>
            <select id="IdMotivoCancelacion" asp-for="IdMotivoCancelacion" class="form-control" asp-items="ViewBag.IdMotivoCancelacion" readonly value="No"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdCliente" class="control-label">Cliente</label>
            <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdPaquete" class="control-label">Paquetes</label>
            <select asp-for="IdPaquete" class="form-control" asp-items="ViewBag.IdPaquete"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdHorario" class="control-label">Horarios</label>
            <select asp-for="IdHorario" class="form-control" asp-items="ViewBag.IdHorario"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdColaborador" class="control-label">Colaborador</label>
            <select asp-for="IdColaborador" class="form-control" asp-items="ViewBag.IdColaborador"></select>
        </div>
        <br>
        <div class="mb-3 row">
            <div class="text-center">
                <input type="submit" value="Crear" class="btn btn-lg fondoVino text-light">
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 
<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }

    document.getElementById("IdMotivoCancelacion").addEventListener("mousedown", function (event) {
        event.preventDefault();
        this.blur();
        return false;
    });
</script>


