@model AlexaSoft_ASP.NET.Models.Servicio

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <div onclick="volver()" class="text-center">
                <i class="fa fa-angle-left fa-3x clickeable"></i>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">Editar Servicio</h1>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="container bordeVino px-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServicio" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoMinutos" class="control-label"></label>
                <input asp-for="TiempoMinutos" class="form-control" />
                <span asp-validation-for="TiempoMinutos" class="text-danger"></span>
                <input asp-for="Estado" type="hidden" value="Activo" />
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-lg fondoVino text-light" />
            </div>
        </form>
    </div>
</div>

<script>
    //Funcion Volver
    function volver() {
        window.history.back();
    }
</script>

<script>
   //Confirmar guardar
    function guardarRol() {
        Swal.fire({
            title: '¿Quieres modificar el rol?',
            showCancelButton: true,
            confirmButtonText: 'Si',
            cancelButtonText: "No"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Guardando datos...',
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    icon: "success"
                }).then(() => {
                    document.getElementById("formularioCrearRol").submit();//subir formulario
                });
            } else if (result.isDenied) {
                Swal.fire('No se guardaron los datos nuevos', '', 'info');
            }
        });
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
